# Python stuff
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/

# Environment / Secret variables (IMPORTANT: Never push passwords/keys!)
.env
.azure/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific
.vscode/

# Claude Code working files
.claude/

# We are NOT ignoring the data folder because our training 
# samples are part of the project submission.